<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
	<style>
		.mt-5 {
			font-size: 40px;
			text-align: center;
		}

		.buttons {
			margin-top: 20px;
		}

		#block_container {
			align-items: center;
			display: flex;
			height: 540px;
			justify-content: center;
			width: 100%;
		}

		#block2,
		#block1 {
			margin: 100px;
		}
	</style>
	<title>프로젝트</title>
	<script>
		function showImg(input){
			var file = input.files[0];//선택된 파일 가져오기

			//이미지 div추가
			var newImage = document.createElement("img");
			newImage.setAttribute("class", 'img');

			//이미지 소스 가져오기
			newImage.src = URL.createObjectURL(file);   

			newImage.style.width = "70%";
			newImage.style.height = "70%";
			newImage.style.objectFit = "contain";
			//이미지파일이 아닌경우 예외처리->이미 되어있음!

			//이미지를 image-show div에 추가
			var container = document.getElementById('image-show');
			container.appendChild(newImage);
			var prevImg = document.getElementById('image-show').firstElementChild;
			prevImg.remove()
			
			var newImage = document.getElementById('image-show').lastElementChild;
			newImage.style.visibility = "visible";
		}
		/*function show_captured_img(){
			var newImage = document.getElementById('image-show').lastElementChild;
			newImage.style.visibility = "visible";
		}*/
	</script>
</head>

<body>
	<div class="container" id="block_container">

		<div class="row" id="block1">
			<div>
				<a style="align-items: end;" href="en">영어/English</a>
				<div class="col-lg-8  offset-lg-2">

					<h2 class="mt-5" style="font-family: 'Song Myung', serif;">E로 쓰는 편지</h2>

					<h4 style="font-family: 'Song Myung', serif;">손으로 쓴 편지를 여기에서 스캔해 주세요</h4>

					<!--<div id="image-show"><img src="http://127.0.0.1:4000/video_feed" height="300px"></div>-->

					<div id="image-show"><img src={{img}} height="300px"></div>
					<!--<div id="image"><img src="{{ url_for('static', filename=capimg) }}"	height="300px"></div>-->

					<form method="post" action="http://127.0.0.1:4000/requests" class="buttons">
						<input type="submit" value="Start" name="start" />
						<input type="submit" value="Capture" name="click" />
						<input type="submit" value="Grey" name="grey" />
						<input type="submit" value="OK" name="ok" />
						<!--<input type="file" id="uploadFile" value="Upload" name="upload" accept="img/*" onchange="showImg(this)">-->
					</form>

					<form action="http://127.0.0.1:4000/uploader"
						method="post"
						enctype="multipart/form-data">
						<input type="file" name="file" accept="img/*"/>
						<input type="submit"/>
					</form>
				</div>
			</div>
		</div>

		<div id="block2">
			<div>
				<h2>스캔한 정보</h2>
				<form action="http://127.0.0.1:4000/send_email" method="post" class="buttons">
					<div>
						<label for="email">수신자:</label>
						<input type="email" name="email" value="{{email}}" id="email">
					</div>
					<div>
						<label for="title"> 제목:</label>
						<input type="text" name="title" value="{{title}}" id="title">
					</div>
					<textarea name="text" id="text" rows="12" cols="35">{{text}}</textarea>
					<fieldset>
						<div>
							사진을 첨부하시겠습니까?
						</div>
						<input type="radio" id="attach-yes" name="attach" value="yes" checked>
						<label for="attach-yes">예</label>
						<input type="radio" id="attach-no" name="attach" value="no">
						<label for="attach-no">아니요</label>
					</fieldset>
					<input type="submit" name="submit" value="Send"></button>
				</form>
			</div>
			</p>
			<!-- <button onclick="window.location.href = './templates/indexen.html'">HOME</button> -->

		</div>
	</div>
</body>

</html>